example_flow.json
[
  {
    "id": "example-flow",
    "label": "Example Flow",
    "nodes": [
      {
        "id": "function1",
        "type": "function",
        "z": "example-flow",
        "name": "Send Command",
        "func": "// Old API structure\nmsg.payload = {\n    \"remote_id\": \"tv_remote\",\n    \"command\": \"power_on\", \n    \"redrat_device_id\": 1,\n    \"ir_port\": 1,\n    \"power\": 100\n}\n;\nmsg.url = \"http://localhost:5000/api/api/commands\";\nreturn msg;\n// Migrated on 2025-07-19 11:19:52",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 100,
        "wires": [
          []
        ]
      },
      {
        "id": "function2",
        "type": "function",
        "z": "example-flow",
        "name": "Get Status",
        "func": "// Get device status\nmsg.url = \"http://localhost:5000/api/api/redrat/devices\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n    // Authentication now handled by session cookies\n}\n;\nreturn msg;\n// Migrated on 2025-07-19 11:19:52",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 100,
        "wires": [
          []
        ]
      },
      {
        "id": "http-request1",
        "type": "http request",
        "z": "example-flow",
        "name": "HTTP Request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "x": 600,
        "y": 100,
        "wires": [
          []
        ]
      }
    ]
  }
]